@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Instrument+Serif:ital@1&family=Playball&family=Vollkorn+SC:wght@400;600;700;900&display=swap');
.button a{
    background-color: #4169E1;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    padding: 2%;
}
.button{
    margin-top: 3rem;
}
.container{
    width: 50%;
    margin: auto;
    text-align: center;
}
body{
    font-family: 'Instrument Serif', serif;
    font-size: 1.5rem;
}
table, td, td{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    font-size: 3rem;

}
thead{
    font-weight: bold;
}
caption{
    margin-bottom:3rem;
    font-weight: bold;
}