/* @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Instrument+Serif:ital@1&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Playball&family=Roboto:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Instrument+Serif:ital@1&family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Playball&display=swap');
.button a{
    background-color: #4169E1;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    padding: 2%;

}
.button{
    margin-top: 3rem;
}
.container{
    width: 50%;
    margin: auto;
    text-align: center;
}
body{
    font-family: 'Courgette', cursive;
    font-size: 1rem;
}
a{
    text-decoration: none;
    color: blue;
}