@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playball&family=Vollkorn+SC:wght@400;600;700;900&display=swap');
.button a{
    background-color: #4169E1;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    padding: 2%;
}
.button{
    margin-top: 3rem;
}
.container{
    width: 50%;
    margin: auto;
    text-align: center;
}
body{
    font-family: 'Vollkorn SC', serif;
    font-size: 1rem;
}
